<script type="module">
  import mermaid from 'https://cdn.jsdelivr.net/npm/mermaid@11/dist/mermaid.esm.min.mjs';

  function getCurrentTheme() {
    return document.body.classList.contains('dark') ? 'dark' : 'light'
  }

  function initializeMermaid() {
    const theme = getCurrentTheme()

    mermaid.initialize({
      startOnLoad: true,
      theme: theme,
    });

    mermaid.run({
      querySelector: '.mermaid',
    })
  }

 initializeMermaid()

  window.addEventListener('toggle-theme', function() {
    const newTheme = getCurrentTheme()

    mermaid.initialize({
      startOnLoad: false,
      theme: newTheme,
    });

    mermaid.run({
      querySelector: '.mermaid',
    })
  });
</script>
